
.slider-container {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-container {
    width: 20rem !important;
    display: flex;
    justify-content: center;
    
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.swiper-slide h2 {
    font-size: 1.2rem;
}