@import "../variables.scss";

.subscribe-form {
  background-color: $bg-secondary;
  padding: $small-content-padding;

  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3rem;
  }

  &__container {
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
  }

  &__field {
    width: 50%;
    align-items: center;

    &--button {
      display: flex;
      justify-content: flex-end;
    }

    &--control {
      margin-top: 1rem;
    }
  }

  .btn {
    color: white;
    width: 15rem;
    height: 2.5rem;
    background-color: #f77737;
    border: none;
    border-radius: 0.5rem;
    }

  &__input {
    padding: 12px 12px;
    border-radius: $radius;
  }

  &__lgpd-description {
    font-size: 0.875rem;
    color: $text-color-secondary;
  }
}

@media (max-width: 576px) {
  .subscribe-form {
    &__row {
      display: block;
    }

    &__field {
      width: 100%;
      align-items: center;

      &--control {
        margin-bottom: 1rem;
      }

      &--button {
        justify-content: center;
      }
    }

    
     &__container {
      gap: 0;
    }

    &__input {
      margin-bottom: 1rem;
    }

    .btn {
    color: white;
    width: 25rem;
    height: 2.5rem;
    background-color: #f77737;
    border: none;
    border-radius: 0.5rem;
    }
  }
}
