@import "../variables.scss";

.header {
  height: 4.3rem;
  display: flex;
  align-items: center;

  &__container {
  }

  &__logo {
  }

  &__nav {
  }

  &__items {
  }

  &__item {
    
  }

  .nav-link {
    margin-left: 2rem;
    font-family: "Poppins", sans-serif;
  }
}
