@import '../variables.scss';

.requently-asked-questions {
    padding: $large-content-padding;

    &__content-title {
        display: flex;
        justify-content: center;
        
      }

      &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin-bottom: 2rem;
        text-align: center;
        width: 575px;
        max-width: 90%;
      }
}