@import "../variables.scss";

.frequently-asked-questions {
  padding: $large-content-padding;

  &__content-title {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;

    width: 575px;
    max-width: 90%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0.8rem;
    width: 60%;
    height: 4.4rem;
    margin-bottom: 0.5rem;
    border: 0.031rem solid #e4e4e4;
    border-radius: $radius;
  }

  &__question p {
    margin: 0;
  }

  &__button-contact-us {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
  }

  &__button-contact-us a {
    color: white;
    width: 25rem;
    height: 2.5rem;
    background-color: #f77737;

    border-radius: 0.5rem;
  }
}

@media (max-width: 575.98px) {
  .frequently-asked-questions {
    padding: $small-content-padding;

    &__question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 0.8rem;
      width: 100%;
      height: 4.4rem;
      margin-bottom: 0.5rem;
      border: 0.031rem solid #e4e4e4;
      border-radius: $radius;
    }
  }
}
